{% extends 'base.html' %}
{%block title%} Product {% endblock %}
{% block content %}
    <div class="col-3">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Imagen del producto" width="200" height="200">
        {% endif %}
    </div>
        <div class="col">    
            <div class="h1">{{ product.title }}</div>
            <div class="h5 font-weight-bold">
                    Precio: <span class="text-danger">${{product.price}}</span>
            </div>
            <div class="">
                <p>{{product.description}} </p>
            </div>
            </div>
            <div class="col-12" style="display: inline-block;">
                {% include 'snippets/add.html' %}
            </div>
        </div>
{% endblock %}