<div class="card">
    <h5 class="card-header"></h5>
    <div class="card-body">
        <h5 class="card-title">{{ shipping_address.address }} </h5>
        <div class="card-title">
            {{shipping_address.line1}}
        </div>
        <div class="card-title">
            {{shipping_address.postal_code}}
        <div class="mt-2">
        <a href="#" class="btn btn-info">Editar</a>
        {% if shipping_address.default %}
            <div style="color: rgb(255, 136, 0);" class="text">Dirección principal</div>
        {% else %}
            <a href="#" class="btn btn-danger">Default</a>
        {% endif %}
        </div>
        </div>
    </div>
</div>